*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: bisque;
    margin : 0;
}
.container{
    background-color: cornsilk;
    width:400px;
    padding: 10px;
}
h2{
    display: block;
}